@font-face {
    font-family: title-font;
    src: url("../font/Parisienne-Regular.ttf");
  }
@font-face{
    font-family: header-font;
    src: url("../font/EduTASBeginner-VariableFont_wght.ttf");
  }

  /* The animation code */
  @keyframes pink-to-purple {
    from {background-color: var(--champagne-pink, lightpink); color: var(--dark-gray, darkgray) }
    to {background-color: var(--ultra-violet, purple); color: white}
  }

  :root { 
    /*Color theme */
    --space-cadet: #22223B; 
    --ultra-violet: #4A4E69;
    --rose-quartz: #9A8C98;
    --pale-dogwoord: #C9ADA7;
    --isabelline: #F2E9E4;
    --champagne-pink: #F7E1D7;
    --timberwolf: #DEDBD2;
    --ash-green:#B0C4B1;
    --outer-space:#4A5759;
    --slate-gray: #ADB5BD;
    --dark-gray: #343A40;
    --snow: #FAF6F6;

    color: var(--dark-gray, darkgray);

  }
header {
      text-align: center;
      padding: 0;
      margin: 0;

}
header h1{
      padding: 1vw 0 0 0;
      margin: 0;
      font-size: 3rem;
      font-family: "title-font", "lucida handwriting", "Georgia", serif;
      background-color: var(--champagne-pink, pink);
      animation-name: pink-to-purple;
      animation-duration: 4s;
      animation-iteration-count: infinite;
}
header h2{
      padding: 0 0 1vw 0;
      margin: 0;
      font-family: "Georgia", serif;
      background-color: var(--champagne-pink, pink);
      font-size:1.5rem;
      animation-name: pink-to-purple;
      animation-duration: 4s;
      animation-iteration-count: infinite;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--ash-green, lightgreen);
}

nav li {
  float: left;
}

nav li:has(a) {
  display: block;
  text-align: center;
  padding: 1vw 1.5vw;
  text-decoration: none; 

  &:hover {
    background-color: var(--slate-gray, darkgray);
  }

}

h2 {
  font-family: "title-font", "lucida handwriting", "Georgia", serif;
  text-align: center;
  font-size: 2.5rem;
  font-stretch: expanded;
}
h3 {
  text-align: center;
  font-family: "header-font", "Georgia", serif
}
p {
  text-align: left;
}

.intro {
  background-color: lightgrey;
  margin:0;
  padding:0;
}
.grid-container {
display: grid;
grid-template-columns: auto auto;
padding: 1vw;
grid-template-rows: 40%;
}

.grid-container section {
margin:5%;
padding: 1vw;
background-color: var(--isabelline, white);
height:fit-content
}

/*Resize grid for phone and tablet display */
@media screen and (max-width: 800px) {
.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 1vw;
}
}

form form-field input{
  width: 100%
}

form textarea {
  width: 100%
}

.no-margin {
margin:0;
padding:0;
}
.top-margin {
margin:0; 
padding:1vw 0 0 0;
}
.bot-margin{
padding:0 0 1vw 0;
margin:0;
}
.bg-padding{
padding: 1vw;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
height: auto;
}

.transition {
  font-size: 2rem;
  transition: font-size 4s 1s;

  &:hover {
    font-size: 5rem;
    color: var(--rose-quartz, pink)
  }
}

aside{
  text-align: center;
  font-size:small;
}

input:invalid:required {
  border: 2px solid rgb(134, 35, 35);
  background-color: var(--pale-dogwoord);
}

input:valid {
  border: 2px solid var(--outer-space);
  background-color: white;
}
