@font-face {
    font-family: title-font;
    src: url("../font/Parisienne-Regular.ttf");
  }
@font-face{
    font-family: header-font;
    src: url("../font/EduTASBeginner-VariableFont_wght.ttf");
  }
  :root { 
    /*Color theme */
    --space-cadet: #22223B; 
    --ultra-violet: #4A4E69;
    --rose-quartz: #9A8C98;
    --pale-dogwoord: #C9ADA7;
    --isabelline: #F2E9E4;
    --champagne-pink: #F7E1D7;
    --timberwolf: #DEDBD2;
    --ash-green:#B0C4B1;
    --outer-space:#4A5759;
    --slate-gray: #ADB5BD;
    --dark-gray: #343A40;
    --snow: #FAF6F6;

    color: var(--dark-gray, darkgray);
    background-color: var(--isabelline, white);

  }
header {
      text-align: center;
      padding: 0;
      margin: 0;

}
header h1{
      padding: 1vw 0 0 0;
      margin: 0;
      font-size: 3rem;
      font-family: "title-font", "lucida handwriting", "Georgia", serif;
      background-color: var(--champagne-pink, pink);
}
header h2{
      padding: 0 0 1vw 0;
      margin: 0;
      font-family: "Georgia", serif;
      background-color: var(--champagne-pink, pink);
      font-size:1.5rem;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--ash-green, lightgreen);
}

nav li {
  float: left;
}

nav li:has(a) {
    display: block;
    text-align: center;
    padding: 1vw 1.5vw;
    text-decoration: none; 
    
    &:hover {
      background-color: var(--slate-gray, darkgray);
    }
  
  }

nav li a:hover {
    background-color: var(--slate-gra, darkgray);
}
h2 {
  font-family: "title-font", "lucida handwriting", "Georgia", serif;
  text-align: center;
  font-size: 2.5rem;
  font-stretch: expanded;
}

body{
    height: 100vh;
  }

